# docker-compose.yaml 파일 실행하여 docker container 띄우기!
> docker-compose up -d

# 생성한 mysql 컨테이너에 bash shell로 접속하기
> docker exec -it mysql-graphql-test bash

# root 계정으로 mysql 접속하기 (초기 설정 비밀번호:password)
> mysql -u root -p
Enter password:

# 'dba' 라는 사용자를 생성하여 모든 권한을 부여한 뒤 비밀번호를 '1234'로 설정하고 변경된 권한을 적용합니다.
# 실제 서비스에서 사용하려면 비밀번호를 꼭 어렵게 설정해줘야 합니다.
mysql> CREATE USER 'dba'@'%' IDENTIFIED BY '1234';
Query OK, 0 rows affected (0.00 sec)

mysql> GRANT ALL PRIVILEGES ON *.* TO 'dba'@'%';
Query OK, 0 rows affected (0.01 sec)

mysql> flush privileges;
Query OK, 0 rows affected (0.00 sec)

mysql> quit
